<br />

<div class="booyah-box col-10 offset-1">
  <h1>The Flixter Team</h1>

  <p>
    Coded by: Edwin</a>
  </p>

  <p>
    Brought to you by: <a href="http://www.thefirehoseproject.com/?home=true">The Firehose Project</a>
  </p>
</div>